@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Vehicle Tracking Application</h1>
    <p>You Can <b>Click On Above Navbar Links</b> For Showing <b> UserMaster And UserVehicleDetails.</b>We can building and Consume This application Using <b>ASP.NET Core and Web API</b></p>
</div>
